*, 
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
  /* 
  The rem unit will use this size as reference, 
  it's set to a percentage to keep the users ability to change the root font-size 
  (bad practice to set it with px) 
  */
  font-size: 62.5%; /* This equals to 10px (10/16 = 0.625, 16px is the browsers default size) */
}

body {
  box-sizing: border-box; 
  font-family: 'Slabo 13px', sans-serif;
}

h2, h3, h4, h5 {
  font-family: 'Merriweather', sans-serif;
}

h1 {
  font-family: 'Playfair Display Variable', sans-serif;
}
